/* primary colours */
/* 
blue      #98D3DF
orange   #EC9131 
*/
.about,
.services {
    width: 100%;
    margin-top: 4%;
}

.about .image{
    width: 90%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .image img{
    width: 100%;
}
.content h2{
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 1.5px;
}
.content h5{
    color: #EC9131;
    display: flex;
}

.content .decor{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    height: 3px;
    width: 50px;
    background-color: #98D3DF;

}

.content p{
    font-size: 0.79rem;
 }
 /* ********** service cards******************************* */
 .service-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
 }

 .service-card .title{
    display: flex;
    margin: 1em 0;    
 }

 .service-card .title .icon{
    height: 20px;
    width: 20px;
    background-color: #98D3DF;
    border-radius: 50%;
    color: #EC9131;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.service-card .title h5{
    font-size: 16px;
    padding-top: 5px;

}

.service-card .desc{
    margin:0 10px;
}


 /* **************** hostels****************************** */
 .hostels .banner .bg-image{
    background: url('../images/banner.jpg');
    height: 15em;
    display: flex;
    text-align: center;
    color: #fff;
 }

 .hostels .hostel-list{
    width: 70%;
    /* display: inline; */
 }
 .hostels .ads-section{
    width: 30%;
 }
 .hostels .hostel-list .search input{
    border: 1px solid #ddd;

 }
 

 .hostels .hostel-list .item{
    width: 25%;
    padding: 10px;
 }
 .hostels .hostel-list .item img{
    width: 100%;
 }
 .hostels .hostel-list .desc{
    font-size: 0.79rem;
 }

 .hostels .hostel-list .item .rating .checked{
    color: orange;
 }

 .hostels .ads-area{
    width: 30%;
 }
 /* ********************* articles ******************************** */
 .articles .article-list{
    width: 75%;
    margin: 3% 0;
 }

 .articles .article{
    width: 31%;
    margin: 1%;
    border: 1px solid #ddd;
 }
 .articles .article .header{
    padding: 10px;
 }

 .articles .article .header .categories div{
    display: inline;
    background-color: #98D3DF;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
 }

 .articles .article .body{
    font-weight: 600;
    font-size: 16px;
    padding: 10px;

 }

 .articles .article .footer {
    border-top: 1px solid #dedede;
    padding: 10px; 
 }
 .articles .article .footer div span{
    font-style: italic;

 }
 .articles .article .footer .ack{
    font-size: 13px;    
    display: flex;  

 }
 .articles .article .footer button{
    font-weight: 600;
    outline: none;
    border: 0;
    background-color: unset;
    margin-left: auto;
 } 

 .articles .footer .likes{
    display: inline-flex;
    font-size: 15px;
    padding-right: 10px;

    
 }
 .articles .footer .likes .num{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 13px;
    border-radius: 50%;
    background-color: #98D3DF;
    color: #fff;
    margin-left: 5px;
    margin-top: 6px;
 }
 .article-content{
    display: flex;
    margin-top: 20px;
 }
 .article-content>div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }


 /* ****************** footer section ****************************** */

 section.footer{
    background-color: #ececec;
    margin-top: 4%;
}
footer{
    display: flex;
}
footer .proc-logo{
    margin-top: 2rem;
    width: 28%;
}

footer .proc{
    margin-top: 2rem;
    width: 25%;
    padding-left: 2%;
}
footer ul{
    list-style-type: none;
    padding-inline-start: 2px;
}
footer ul li a{
    color: #0f0f0f;
    text-decoration: none;
    text-align: start;
}
footer ul li i{
    margin-right: 0.8em;
    color: #98D3DF;
}
footer .proc-logo img{
    width: 70%;
}

.footer .copy{
    padding: 1% 0;
    text-align: center;
    background-color: #0f0f0f;
}
.footer .copy span{
    color: #fff;
    font-weight: 500;
}

/* Styles for tablet screens */
@media (max-width: 1023px) and (min-width: 768px) {
footer{
    display: block;
}
footer .proc-logo{
    width: 80%;
}
footer .proc{
    width: 100%;
}

    
}
  
/* Styles for mobile screens */
@media (max-width: 767px) {
    footer{
        display: block;
    }
    footer .proc,
footer .proc-logo {
    width: 100%;
}
    .about .image{
        display: none;
    }


}






