
.top-bar{
    background-color: #60a3bc;
}

/*  navbar section */

.navbar .navbar-brand{
    display: flex;
}

.navbar .navbar-brand .logo{
    width: 120px;
    height: 70px;

}

.navbar .navbar-brand .logo img{
    width: 100%;
    height: 100%;
}
.navbar .header-content{
    display: flex;
    width: 100%;
}

.navbar .nav-headers{
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar .nav-headers h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: #474747;
}
.navbar .nav-headers .para{
    font-style: italic;
}

.navbar .navbar-bar{
    background-color: #eeefff;
    box-shadow: 2px 1px 4px -1px #474747;
    
}
.navbar .navbar-bar ul.nav-menu{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    
    
}

.navbar .navbar-bar ul.nav-menu li{
 border-bottom: 2px solid #eeefff;
}

.navbar .navbar-bar ul.nav-menu li.active ,
.navbar .navbar-bar ul.nav-menu li:hover ,
.navbar .navbar-bar ul.nav-menu li:focus {
 border-bottom: 2px solid #474747;
}

.navbar .navbar-bar ul.nav-menu li .nav-link{
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #474747;
}





/*  End of navbar section */








.wrapper{
    width: 100%;
    display: flex;
}

.wrapper .section1{
    width: 70%;
}
.wrapper .section2{
    width: 27%;
}